{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="row">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('.new_post') }}">Write</a></li>
            <li><a href="{{ url_for('main.login') }}">Login</a></li>
            <li><a href="{{ url_for('main.register') }}">Register</a></li>
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        {% for post in posts.items %}
        <section class="article">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{
                 url_for('.post',post_id=post.id)
                 }}"><h3>{{ post.title }}</h3></a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p style="color: #464646">
                        <span><a href="{{
                        url_for('.user',username=user.username)
                        }}">{{user.username}}</a></span>
                        <span>&nbsp;&nbsp;</span>
                        <span>{{ post.publish_date | string | j_str() | safe }}</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ post.text | string | safe | html_to_text | truncate(255) }}
                    <a href="{{
                     url_for('.post',post_id=post.id)
                     }}">Read More</a>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
    <div class="col-lg-3">
        <div class="row">
            <h5>Recent Posts</h5>
            <ul>
                {% for post in recent %}
                <li><a href="{{
                url_for('.post',post_id=post.id)
                }}">{{ post.title |truncate(35) }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <h5>Popular Tags</h5>
            <ul>
                {% for tag in top_tags %}
                <li><a href="{{
                url_for('.tag',tag_name=tag[0].title)
                }}">{{ tag[0].title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="pagination">
    {{ render_pagination(posts, '.home') }}
</div>
{% endblock body %}